#body {
  text-align: center;
  background-color: rgb(42, 41, 40);
}

#characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3;
}

#card {
  border: 2px solid black;
  border-radius: 10px;
  background-color: aliceblue;
}

#characterImage {
  border-radius: 10px;
}