#body {
  text-align: center;
  background-color: rgb(20, 19, 18);
}

#characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3;
}

#card {
  border: 2px solid black;
  padding: 1px;
  background-color: aliceblue;
}